.table-toolbar{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.hidden-custom-table-header{
    display: none;
}

.overflow-hidden .el-dialog{
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}

.el-dialog__body{
    padding-top: 15px;
}

.table-outer-container .table-data-container .el-table .el-table__cell{
    padding: 6px 0;
}
